.parallax-budda
    .parallax-budda__layer(
        data-disallow="both"
    )
        img.parallax-budda__img(
        src=require("images/budda-parallax/1clouds.jpg")
        alt="sky"
        )
    .parallax-budda__layer(
        data-disallow="both"
    )
        img.parallax-budda__img(
        src=require("images/budda-parallax/2mountain.png")
        alt="mountain"
        )
    .parallax-budda__layer(
        data-deep="200"
    )
        img.parallax-budda__img(
        src=require("images/budda-parallax/3buddha.png")
        alt="budda"
        )
    .parallax-budda__layer(
    data-deep="150"

    )
        img.parallax-budda__img(
        src=require("images/budda-parallax/4cloud.png")
        alt="cloud"
        )
    .parallax-budda__layer(
    data-deep="100"

    )
        img.parallax-budda__img(
        src=require("images/budda-parallax/5cloud.png")
        alt="cloud"
        )
    .parallax-budda__layer(
    data-deep="50"

    )
        img.parallax-budda__img(
        src=require("images/budda-parallax/6cloud.png")
        alt="cloud"
        )