.parallax-hero
    .parallax-hero__layer(data-speed="0.06")
        img.parallax-hero__img(
        src=require("images/hero-parallax/sky.jpg")
        alt="sky"
        )
    .parallax-hero__layer(data-speed="0.08")
        img.parallax-hero__img(
        src=require("images/hero-parallax/mountain.png")
        alt="mountain"
        )
    .parallax-hero__layer(data-speed="0.16")
        img.parallax-hero__img(
        src=require("images/hero-parallax/baloon.png")
        alt="baloon"
        )
    .parallax-hero__layer(data-speed="0.2")
        img.parallax-hero__img(
        src=require("images/hero-parallax/cloud.png")
        alt="cloud"
        )
    .parallax-hero__layer(data-speed="0.23")
        img.parallax-hero__img(
        src=require("images/hero-parallax/man.png")
        alt="man"
        )
    .parallax-hero__layer(data-speed="0.25")
        img.parallax-hero__img(
        src=require("images/hero-parallax/mountain1.png")
        alt="mountain"
        )
    .parallax-hero__layer(data-speed="0")
        img.parallax-hero__img(
        src=require("images/hero-parallax/white.png")
        alt="white cloud"
        )