mixin form(className)
    div(class=className)
        form.form__container(action="" method="")
            .form__row
                .form__block.form__el
                    .form__title Введите ваше имя
                    label.form__input-wr
                        +icon('user', 'form__icon')
                        input.form__input#name(name="name"
                        type="text"
                        required)
                    .form__error.hidden
                .form__block.form__el
                    .form__title Введите ваш email
                    label.form__input-wr
                        +icon('envelope', 'form__icon')
                        input.form__input#email(name="email"
                        type="email"
                        required)
                    .form__error.hidden
            .form__row
                .form__block.form__el
                    .form__title Сообщение к письму
                    label.form__input-wr
                        +icon('message', 'form__icon')
                        textarea.form__input.form__textarea#message(
                        name="message"
                        type="text"
                        required
                        rows="2")
                    .form__error.hidden
            button.form__submit.form__el.btn-gradient(type="submit") Отправить

    script(type="text/x-template")#form-popup
        .popup__overlay
            .popup__container
                .popup__content
                button.popup__btn-close.btn-gradient Закрыть
